.grid-settings div {
  float: left;
  font-size: 0.6rem;
  padding: 5px;
}

.grid-settings label * {
  margin-left: 5px;
}

.grid-settings option, .grid-settings input {
  font-size: 0.5rem;
}

.grid-settings input {
  width: 3rem;
}

.grid-settings fieldset {
  padding: 5px;
  border-radius: 10px;
}

.grid-settings legend {
  font-size: 0.8rem;
}

.grid-settings .button a div {
  width: 3.5rem;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  padding: 0;
  display: block;
  text-align: center;
  padding: 3px;
}

.grid-settings .button a:hover, .grid-settings .button a:visited {
  color: black;
}

.grid-settings .button a:hover div {
  background-color: lightblue;
}

.grid-settings .button:last-child a div {
  margin: 0;
}

.board {
  display: inline-block;
}

#app {
  text-align: center;
}

.cell {
  background: white;
  border: 1px solid black;
  float: left;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  line-height: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: -1px;
  margin-top: -1px;
}
