html {
  font-size: 2em;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 100px 20px 100px 20px;
  background-image: url('../assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#app {
  width: 980px;
  padding: 20px;
  margin: 0 auto 0 auto;
  background: white;
  border-radius: 20px;
}

.clr {
  content: "";
  display: table;
  clear: both;
}